<div class="fixed w-full h-full overflow-auto">
    <div class="absolute top-0 h-20rem xl:h-30rem w-full bg-gradient"></div>
    <app-header></app-header>

    <!-- dashboard container -->
    <div class="fixed flex flex-column h-full w-full z-5 xl:px-10 px-4 xl:pt-10 lg:pt-1">
        <div class="flex flex-none flex-row w-full justify-content-between align-items-end xl:pt-14 pt-4">
            <h1 class="text-white font-semibold text-5xl">Panel de Control</h1>

            <!-- TabView -->
            <p-tabView styleClass="bg-transparent" (onChange)="navegar($event)" [activeIndex]="index">
                <p-tabPanel header="Conteo">
                </p-tabPanel>
                <p-tabPanel header="Repair">
                </p-tabPanel>
                <p-tabPanel header="MT206-MT299">
                </p-tabPanel>
            </p-tabView>
            <!-- TabView -->
        </div>
        <div class="flex-1 w-full mt-14 mb-32 relative">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- dashboard container end -->

</div>

<app-footer></app-footer>