.splash {
    font-size: 25px;
    background: #1171CF;
    background: linear-gradient(to right,#0a4379 0%, #1e7fce 60%, #18BDED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-progressbar .p-progressbar-value{
    background-color: #0c508f;
}
// h1 {
//     font-size: 25px;
//     background: #1171CF;
//     background: linear-gradient(to right,#0a4379 0%, #1e7fce 70%, #18BDED 100%);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
// }
// 1e7fce