<app-splash-screen *ngIf="loading"></app-splash-screen>

<router-outlet *ngIf="!loading"></router-outlet>
<p-toast [life]="6000">
    <ng-template let-message pTemplate="message">
        <div class="flex align-items-start" style="flex: 1">
            <i class="bi bi-x-circle mr-2 text-2xl"></i>
            <div class="flex flex-column align-items-start gap-2">
                <span class="font-bold text-900 text-xl text-red-500">{{message.summary}}</span>
                <div class="text-lg text-900 text-white">{{ message.detail }}</div>
            </div>
        </div>
    </ng-template>
</p-toast>
